/Makefile
/autogen/
/cfish-*.dll
/cfish-*.exp
/cfish-*.lib
/charmonizer
/charmonizer.exe
/charmony.h
/cygcfish-*.dll
/libcfish-*.dll
/libcfish.*.dylib
/libcfish.dylib
/libcfish.so
/libcfish.so.*
/t/test_cfish
/t/test_cfish.exe
