*.pod
/Build
/Build.bat
/Charmony.pm
/MYMETA.json
/MYMETA.yml
/Makefile
/_build/
/autogen/
/blib/
/charmonizer
/charmonizer.exe
/charmonize.c
/charmony.h
/lib/Clownfish.c
/lib/Clownfish.xs
/lib/Clownfish/Test.c
/lib/Clownfish/Test.xs
/ppport.h
/typemap

